<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presenceService.onlineUser$ | async)?.includes(member.userName)">
                    <i class="class fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive | timeago:true}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | timeago:true}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-danger">
                        Like
                    </button>
                    <button class="btn btn-success">
                        Message
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <mat-tab-group [disableRipple]="true" [disablePagination]="true" mat-stretch-tabs="true" mat-align-tabs="start" selectedIndex={{tabindex}} #tabgroup>
            <div>
                <mat-tab label="About {{member.knownAs}}">
                    <strong>Description</strong>
                    <p>{{member.introduction}}</p>
                    <strong>Looking for</strong>
                    <p>{{member.lookingFor}}</p>
                </mat-tab>
                <mat-tab label="Interests">
                    <strong>Interests</strong>
                    <p>{{member.interests}}</p>
                </mat-tab>
                <mat-tab label="Photos">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                </mat-tab>
                <mat-tab isActive="true" label="Messages">
                    <app-member-messsages [username]="member.userName"></app-member-messsages>
                </mat-tab>
            </div>
        </mat-tab-group>
    </div>
</div>