<div class="mb-4 d-flex">
    <div class="btn-group" name="container">
        <!-- <button type="button" class="btn btn-primary" (click)="loadMessages('Inbox')">Primary</button>
        <button type="button" class="btn btn-secondary" (click)="loadMessages('Unbox')">Secondary</button>
        <button type="button" class="btn btn-success" (click)="loadMessages('Unread')">Success</button> -->
        <input type="radio" class="btn-check" ng-control="options" [value]="'Inbox'" name="predicate"
            [(ngModel)]="container" id="btnradio1" checked (click)="loadMessages('Inbox')">
        <label class="btn btn-danger" for="btnradio1">Members i like</label>

        <input type="radio" class="btn-check" ng-control="options" [value]="'Unbox'" name="predicate"
            [(ngModel)]="container" id="btnradio2" (click)="loadMessages('Unbox')">
        <label class=" btn btn-danger" for="btnradio2">Members who like me</label>
 
        <input type="radio" class="btn-check" ng-control="options" [value]="'Unread'" name="predicate"
            [(ngModel)]="container" id="btnradio3" (click)="loadMessages('Unread')">
        <label class=" btn btn-danger" for="btnradio3">Members who like me</label>
    </div>
</div>

<p *ngFor="let m of messages">{{m.content}}</p>