 
.mat-mdc-select-arrow {
    color: white !important;
}
.cdk-overlay-container {
    padding-left: 400px;
}
/* .cdk-overlay-pane{
    width: 100px !important;
} */
/* .cdk-overlay-pane  {  transform:none !important;  }  */

